<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ! Bootstrap CSS ! -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.6/css/bootstrap.min.css}" />
    <title>Single movie page</title>

    <th:block th:replace="~{fragments/stylesheets :: bootstrap}"></th:block>


</head>

<body>

    <header>
        <nav th:replace="~{fragments/navbar :: navbar('Best movies')}" />
    </header>

    <main class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1 th:if="${isFound}">Best song of the year with id [[${movie.id}]]</h1>
                <h1 th:unless="${isFound}">There is no movie with this id</h1>
            </div>
            <div class="col-12">
                <h1 th:if="${isFound}">[[${movie.title}]]</h1>
            </div>
        </div>
    </main>
</body>

</html>